
<div class="Tittle" style="margin-top:1rem">
    <div class="row">
        <div class="col-lg-10">
            <h1 style="        margin-bottom: 0;
        font-weight: 800;"
                class="text-themecolor">
                Registrar Infración
            </h1>
            <p style="font-weight:600">Registra la infracción cometida</p>
        </div>

    </div>



</div>
<br />
<div class="row manage" style="padding: 0% 5% 0% 5%;">
    <div class="modal-body">
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <label for="recipient-name" class="col-form-label">CIP:</label>
                        <input type="text" disabled="disabled" class="form-control" value="002898" id="recipient-name">
                    </div>
                    <div class="col-lg-7">
                        <label for="recipient-name" class="col-form-label">Nombres Completos:</label>
                        <input type="text" class="form-control" disabled="disabled" value="Kevin Rafael Cordova Sanchez" id="recipient-name">
                    </div>
                    <div class="col-lg-2">
                        <label for="recipient-name" class="col-form-label">Rango:</label>
                        <input type="text" class="form-control" id="recipient-name" disabled="disabled" value="2">
                    </div>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <div class="col-lg-5">
                        <label style="font-weight:500" class="">Sancionador : </label>
                        <div class="" style="display:flex">
                            <input disabled="disabled" id="txtSancionador" type="text" placeholder="Johnathan Doe" class="form-control form-control-line">

                            <div style="margin: auto;padding: 0px 0.5rem 0 0.5rem;" class=""
                                 data-bs-target="#ModalPersonSearch" data-bs-toggle="modal" data-bs-dismiss="modal">
                                <i style="cursor: pointer; font-size: 25px" class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <label style="padding-top: 0;  padding-bottom: calc(0.5rem + 1px);" for="recipient-name" class="col-form-label">Infracción:</label>
                        <input type="text" class="form-control" id="recipient-name" value="">
                    </div>
                </div>

                <div class="row" style="margin-top:3rem;">
                    <div class="col-lg-12">
                        <button  style="padding: .6rem 2rem 0.6rem 2rem; float: right;margin-left: 1rem;" type="button" class="btn btn-info">Guardar</button>
                        <button style=" padding: .6rem 2rem 0.6rem 2rem;float:right"  type="button" class="btn btn-dark">Cancelar</button>
                    </div>
                </div>


            </div>
        </form>
    </div>


    @Html.Partial("../Modals/ModalSearchPerson")
</div>


@Styles.Render("~/css/RegistrarIncidence")